html,
body {
  min-height: 100vh;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: $dark;
}

main {
  height: 100%;
}

main,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
