html,
body {
  min-height: 100vh;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: $dark;
  background-image: url("../assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;

  @media only screen and (max-width: 768px) {
    background-image: url("../assets/mobile.svg");
    background-position: left top;
  }
}

main {
  height: 100%;
}

main,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

section {
  &.main {
    a {
      display: block;
      text-decoration: none;
      width: 412px;
      max-width: 90vw;

      @media only screen and (max-width: 768px) {
        width: 300px;
      }

      img {
        width: 100%;
      }
    }

    h1 {
      color: $light;
      font-family: "Ubuntu", sans-serif;
      font-size: 38px;
      margin: 18px 0;
      letter-spacing: .29px;

      @media only screen and (max-width: 768px) {
        font-size: 28px;
        margin: 12px 0;
      }
    }
  }
}
