.nav {
  @include flex-row;

  width: 100%;
  height: 75px;
  background: $darker;

  .left {
    margin: 0 auto 0 ($whitespace * 8);
  }

  .right {
    margin: 0 ($whitespace * 8) 0 auto;
  }

  .left,
  .right {
    @include flex-row;
    align-content: center;

    @media only screen and (max-width: 768px) {
      margin: 0 $whitespace;
    }

    a {
      @include font-regular;

      font-size: 20px;
      color: $light;
      margin: 0 $whitespace;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover,
      &:focus {
        color: $alt;

        i {
          color: $light;
        }
      }

      i {
        margin-top: 2px;
        color: $alt;
        font-size: 26px;
      }

      img {
        height: $whitespace * 2.25;
      }
    }
  }
}
