.nav {
  @include flex-row;

  background: $darker;
  height: 75px;
  width: 100%;

  .left {
    margin: 0 auto 0 ($whitespace * 8);
  }

  .right {
    margin: 0 ($whitespace * 8) 0 auto;
  }

  .left,
  .right {
    @include flex-row;
    align-content: center;

    @media only screen and (max-width: 768px) {
      margin: 0 $whitespace;
    }

    a {
      @include font-regular;

      align-items: center;
      color: $light;
      display: flex;
      font-size: 20px;
      justify-content: center;
      margin: 0 $whitespace;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $alt;

        i {
          color: $light;
        }
      }

      i {
        color: $alt;
        font-size: 26px;
        margin-top: 2px;
      }

      img {
        height: $whitespace * 2.25;
      }
    }
  }
}
