$primary: #d9643a;
$primary-hover: darken($primary, 10%);
$secondary: #e95420;
$dark: #454647;
$darker: #343535;
$header: #3a3c3c;
$footer: #242525;
$banner: #141515;
$black: #000;
$white: #fff;
$light: #ebebeb;
$text: #c0c2c2;
$alt: #a6a6a6;
$notice: #1eadae;
$notice-hover: darken($notice, 10%);
$whitespace: 16px;
$radius: 4.5px;
$corner: 200px;
$transition-duration: .2s;
$transition-duration-large: $transition-duration * 2;
$transition-timing-function: ease-in-out;
$transition-timing-function-large: ease;
$breakpoint: 960px;
$shadow: 0 0 $whitespace 0 rgba($black, .1);
$shadow-bottom: 0 $whitespace $whitespace (-$whitespace) rgba($black, .1);

$vs-border-width: 0;
$vs-border-radius: $radius;
$vs-controls-color: $darker;
