* {
  box-sizing: border-box;
}

html,
body,
#__nuxt, // sass-lint:disable-line no-ids
#__layout, // sass-lint:disable-line no-ids
#__app { // sass-lint:disable-line no-ids
  @include font-light;

  background-color: $dark;
  height: 100vh;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

main {
  @include flex-column;

  justify-content: space-between;
  min-height: 100%;
  position: relative;

  section,
  .content {
    @include flex-column;

    flex-grow: 1;
    justify-content: center;
    width: 100%;
  }

  .row {
    @include flex-row;

    &.has-columns {
      padding: $whitespace 0 0;

      .column-half {
        flex-basis: 50%;
        max-width: 50%;
        padding: $whitespace ($whitespace * 2);

        @media screen and (max-width: $breakpoint) {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    }
  }

  .column {
    @include flex-column;
  }
}

main,
footer {
  .content {
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1550px;
    padding: ($whitespace * 2) $whitespace 0;

    @media screen and (max-width: $breakpoint) {
      padding: $whitespace $whitespace 0;
    }
  }
}

header {
  @include flex-column;

  background: $header;
  width: 100%;
}
