header {
  div {
    &.breadcrumbs {
      align-items: flex-start;
      margin: 0 auto;
      max-width: 1550px;
      padding: ($whitespace * 2) $whitespace 0;

      @media screen and (max-width: $breakpoint) {
        padding: $whitespace $whitespace 0;
      }

      ol {
        @include flex-row;

        list-style: none;
        margin: 0;
        padding: 0;

        li {
          &:not(:first-child) {
            a {
              &::before {
                color: $light;
                content: "/";
                display: inline-block;
                margin: 0 ($whitespace * .5);
              }
            }
          }

          a {
            @include font-regular;
            @include primary-link;

            font-size: 20px;
          }
        }
      }
    }
  }
}
