header {
  div {
    &.breadcrumbs {
      align-items: flex-start;
      max-width: none;
      padding: ($whitespace * 2) ($whitespace * 12) 0;

      @media screen and (max-width: $breakpoint) {
        padding: $whitespace $whitespace 0;
      }

      ol {
        @include flex-row;

        list-style: none;
        margin: 0;
        padding: 0;

        li {
          &:not(:first-child) {
            a {
              &::before {
                color: $light;
                content: "/";
                display: inline-block;
                margin: 0 ($whitespace / 2);
              }
            }
          }

          a {
            @include font-regular;

            color: $primary;
            font-size: 24px;
            text-decoration: none;
            transition: color $transition-duration $transition-timing-function;

            &:hover,
            &:focus {
              color: $primary-hover;
            }
          }
        }
      }
    }
  }
}
