main {
  section {
    .content {
      a,
      button {
        &.button {
          -webkit-appearance: button;
          background: $primary;
          border: 0;
          border-radius: $radius * 1.3;
          color: $white;
          cursor: pointer;
          display: inline-block;
          font-size: 18px;
          padding: ($whitespace * .75) ($whitespace * 2.5);
          text-decoration: none;
          transition: background $transition-duration $transition-timing-function;

          &:hover,
          &:focus {
            background: $primary-hover;
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
}
