.library-asset-buttons {
  @include flex-row;

  flex-wrap: nowrap;
  margin: 0 0 0 auto;

  i {
    color: $light;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 0 0 ($whitespace / 2);
    transition: color $transition-duration $transition-timing-function;

    &:hover {
      color: $alt;
    }
  }
}
