li {
  &.library-card {
    @include flex-column;

    align-items: flex-start;
    background: $darker;
    border-radius: $radius / 2;
    flex-basis: calc(50% - #{$whitespace * 4});
    margin: ($whitespace / 2) ($whitespace * 2);
    padding: $whitespace ($whitespace * 1.5);

    @media screen and (max-width: $breakpoint) {
      flex-basis: 100%;
      margin: ($whitespace / 2) $whitespace;
    }

    .title {
      @include flex-row;

      align-items: flex-end;
      width: 100%;

      a {
        @include font-regular;
        @include primary-link;

        display: block;
        font-size: 24px;
        margin: 0;
        padding: 0;

        .version {
          font-size: 14px;
        }
      }

      .stars {
        @include font-regular;

        color: $light;
        display: block;
        font-size: 14px;
        margin: 0 0 0 $whitespace;

        i {
          margin: 0 0 ($whitespace / 4);
        }
      }
    }

    .description {
      @include font-regular;

      color: $light;
      flex-grow: 1;
      font-size: 16px;
      margin: $whitespace 0 0;
    }

    .tags {
      @include font-regular;

      color: $light;
      font-size: 12px;
      margin: ($whitespace / 2) 0 0;

      .keywords {
        display: inline-block;
        margin: 0 0 0 ($whitespace / 2);
      }
    }
  }
}
