.nav {
  background: $darker;
  box-shadow: $shadow;
  width: 100%;
  z-index: 1;

  .content {
    @include flex-row;

    align-items: center;
    height: auto;
    min-height: 75px;
    padding: $whitespace 0;

    .left {
      margin: 0 auto 0 0;
    }

    .right {
      margin: 0 0 0 auto;
    }

    .middle {
      flex-grow: 1;

      .inline-search {
        margin: 0 auto;
        max-width: 600px;
        padding: 0 $whitespace;

        // sass-lint:disable class-name-format
        .ais-SearchBox {
          .ais-SearchBox-form {
            .ais-SearchBox-input {
              height: $whitespace * 2.5;
              padding: ($whitespace * .25) ($whitespace * 3.25) ($whitespace * .25) ($whitespace);
            }
          }
        }

        .ais-StateResults {
          width: calc(100% - #{$whitespace * 2});
        }
        // sass-lint:enable class-name-format
      }
    }

    .left,
    .right,
    .middle {
      @include flex-row;
      align-content: center;

      @media screen and (max-width: $breakpoint) {
        margin: 0;
      }
    }

    .left,
    .right {
      a {
        @include font-regular;

        align-items: center;
        color: $light;
        display: flex;
        font-size: 20px;
        justify-content: center;
        margin: ($whitespace * .25) $whitespace;
        text-decoration: none;
        transition: color $transition-duration $transition-timing-function;

        &:hover,
        &:focus {
          color: $alt;

          i {
            color: $light;
          }
        }

        i {
          color: $alt;
          font-size: 26px;
          margin-top: 2px;
          transition: color $transition-duration $transition-timing-function;
        }

        img {
          height: $whitespace * 2.25;
        }
      }
    }
  }
}
