.tutorial-list {
  h3 {
    @include font-medium;

    color: $light;
    font-size: 30px;
    margin: 0 0 ($whitespace);
  }

  p {
    @include font-regular;

    color: $light;
    font-size: 20px;
    margin: ($whitespace * .5) 0 ($whitespace);

    a {
      @include primary-link;
    }
  }

  ul {
    border-top: 3px solid $white;
    list-style: none;
    margin: ($whitespace * 2) 0 0;
    padding: ($whitespace * 2) 0;

    li {
      margin: 0 0 ($whitespace);

      p {
        font-size: 20px;
        margin: 0;

        &:not(:first-child) {
          font-size: 16px;
        }

        a {
          display: inline-block;
          line-height: 1.5;
        }
      }
    }
  }
}
