.tutorial-author {
  background: $primary;
  width: 100%;

  img {
    border-radius: $radius;
    margin: 0 $whitespace 0 0;
  }

  .details {
    p {
      @include font-light;

      color: $banner;
      font-size: 16px;
      margin: 0 0 $whitespace;

      a {
        color: darken($banner, 7%);
        text-decoration: underline;
        transition: color $transition-duration $transition-timing-function;

        &:hover,
        &:focus {
          color: $darker;
        }
      }

      &.name {
        @include font-medium;

        font-size: 22px;
        margin: ($whitespace * .25) 0 $whitespace;
      }

      &.social {
        font-size: 20px;

        a {
          display: inline-block;
          text-decoration: none;
          margin: 0 ($whitespace * .5) 0 0;
        }
      }
    }
  }
}
