.content {
  &.library-hero {
    h1 {
      @include font-medium;

      color: $light;
      font-size: 45px;
      margin: ($whitespace * .5) 0;
    }

    p {
      @include font-regular;

      color: $light;
      font-size: 18px;
    }

    .row {
      p {
        margin: ($whitespace * .5) $whitespace ($whitespace * .5) 0;

        a {
          @include primary-link;
        }
      }
    }

    .description {
      margin: ($whitespace * 2) 0 0;
    }

    .tags {
      color: $alt;
      font-size: 16px;
      margin: ($whitespace) 0 0;

      .keywords {
        display: inline-block;
        margin: 0 0 0 ($whitespace / 2);
      }
    }
  }
}
