@import url("https://fonts.googleapis.com/css?family=Ubuntu");

html, body {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #454647;
    background-image: url("bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

body,
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav {
    position: absolute;
    top: 40px;
    left: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav a {
    margin-left: 28px;
    text-decoration: none;
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a i {
    color: #A6A6A6;
    font-size: 26px;
}

.nav a:hover i,
.nav a:focus i {
    color: #CBC9C9;
}

.main a {
    display: block;
    text-decoration: none;
    width: 412px;
    max-width: 90vw;
}

.main a img {
    width: 100%;
}

.main h1 {
    color: #CBC9C9;
    font-family: "Ubuntu", sans-serif;
    font-size: 38px;
    margin: 18px 0;
    letter-spacing: 0.29px;
}

@media only screen and (max-width: 768px) {
    html, body {
        background-image: url("mobile.svg");
        background-position: left top;
    }

    .nav {
        left: 20px;
        flex-direction: column;
    }

    .nav a {
        margin-left: 0;
        margin-top: 28px;
    }

    .main a {
        width: 300px;
    }

    .main h1 {
        font-size: 28px;
        margin: 12px 0;
    }
}
