main {
  &.api {
    header {
      .content {
        h1 {
          @include font-medium;

          color: $light;
          font-size: 24px;
          margin: 0 0 $whitespace;
        }

        p {
          color: $text;
          font-size: 16px;
          margin: 0 0 $whitespace;
        }
      }
    }

    code {
      background: $darker;
      border-radius: $radius;
      color: $primary;
      display: inline-block;
      font-size: .85em;
      margin: ($whitespace * .125) 0;
      padding: ($whitespace * .25) ($whitespace * .5);

      &.example {
        font-size: 1em;
        padding: $whitespace;
      }
    }

    .content {
      h2 {
        @include font-medium;

        color: $light;
        margin: 0 0 $whitespace;
      }

      .doc {
        @include flex-row;

        p {
          color: $text;
          margin: ($whitespace * .5) 0;

          a {
            color: $primary;
            transition: color $transition-duration $transition-timing-function;

            &:hover,
            &:focus {
              color: $primary-hover;
            }
          }
        }

        h3 {
          margin: 0 0 ($whitespace * .5);
        }

        .left,
        .right {
          flex-basis: 50%;
        }
      }
    }
  }
}
