main {
  &.libraries-library-tutorials-tutorial {
    .tutorial {
      color: $light;

      h1,
      h2 {
        @include font-bold;
      }

      h3,
      h4,
      h5  {
        @include font-medium;
      }

      h1 {
        font-size: 2.4rem;
      }

      h2 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1.6rem;
      }

      h4 {
        font-size: 1.2rem;
      }

      h5 {
        font-size: .8rem;
      }

      p {
        line-height: 1.5;
        margin: 0 0 ($whitespace * .5);
      }

      a {
        @include primary-link;

        text-decoration: underline;
      }
    }
  }
}
