main {
  &.libraries-library-tutorials {
    .tutorials-hero {
      h1 {
        @include font-medium;

        color: $light;
        font-size: 45px;
        margin: ($whitespace * .5) 0 0;

        a {
          @include primary-link;
        }
      }
    }
  }
}
