$primary: #d9643a;
$primary-hover: darken($primary, 10%);
$secondary: #e95420;
$dark: #454647;
$darker: #343535;
$header: #3a3c3c;
$light: #ebebeb;
$alt: #a6a6a6;
$notice: #1eadae;
$whitespace: 16px;
$radius: 4.5px;
