$primary: #d9643a;
$primary-hover: darken($primary, 10%);
$secondary: #e95420;
$dark: #454647;
$darker: #343535;
$header: #3a3c3c;
$white: #fff;
$light: #ebebeb;
$text: #c0c2c2;
$alt: #a6a6a6;
$notice: #1eadae;
$whitespace: 16px;
$radius: 4.5px;

$vs-border-width: 0;
$vs-border-radius: $radius;
$vs-controls-color: $darker;

$cloudflare: $light;
$algolia: #182359;
$digitalocean: #0069ff;
$heroku: #c3c5c8;
$statuspage: #f4f5f7;
$discourse: $white;
